[submodule "api/account"]
	path = api/account
	url = git@github.com:organizacao-do-sucesso/account.git
[submodule "api/account-service"]
	path = api/account-service
	url = git@github.com:organizacao-do-sucesso/account-service.git
[submodule "api/auth"]
	path = api/auth
	url = git@github.com:organizacao-do-sucesso/auth.git
[submodule "api/auth-service"]
	path = api/auth-service
	url = https://github.com/organizacao-do-sucesso/auth-service
[submodule "api/gateway-service"]
	path = api/gateway-service
	url = https://github.com/organizacao-do-sucesso/gateway-service
